.teste {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    padding-top: 20px;
  }
  
  .info_teste {
    margin: 25px 25px;
  }
  
  body {
    background-color: white
  }
  footer {
      /* border: 1px solid pink; */
      background: black;
      text-align: center;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      padding: 16px 0;
      margin-top: 16px;
      
    }
  
    .devthiago {    
      text-align: center;
      color: gray;
      
       
    }
  
  .social-media{
      display: flex;
      justify-content: space-evenly;
      padding: 0 24%;
      
    }
  
    img {    
      
      width: 250px;
      height: 250px;
      
    }
  
    section {
      display: flex;
    }
  
    .content {
      margin: 50px;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: right;
      
    }
  
    .card {    
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .card-info-test {
        display: flex;
    }
    
    .card-title, .card-text {
      text-align: center;
    }